@media screen and (max-width: 1380px) {
    header h1{
    color: white;
    font-style:normal;
    font-size: 80px;
    font-weight: 400;
    text-align: start;
    }

.contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 200px 100px 2490px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "aside main main"
    "footer footer footer"
    ;
}

.aside-escolares div{
    height: 2490px;
    width: 310px;
}

.aside-escolares div img{
    height: 2490px;
    width: 100%;
    object-fit: cover;  
}
}

@media screen and (max-width: 1257px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 2150px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
.aside-escolares div{
    display: none;
}

.aside-escolares div img{
    display: none;
}
}

@media screen and (max-width: 1175px) {
    header h1{
    color: white;
    font-style:normal;
    font-size: 60px;
    font-weight: 400;
    text-align: start;
}
header nav ul a{
    border-left-style: solid;
    padding: 0px 10px 0px 10px;
    color: white;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}
}

@media screen and (max-width: 1150px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 2180px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}

}

@media screen and (max-width: 1134px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 2215px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
}

@media screen and (max-width: 1110px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 2250px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
}

@media screen and (max-width: 1058px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 2285px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
}

@media screen and (max-width: 1046px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 2285px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
}

@media screen and (max-width: 1033px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 1830px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}

.seccion-escolares ul li{
    margin: 0px 100px 0px 100px;
    padding: 10px 200px 0px 50px; 
    font-size: 25px;
    font-style: normal;
}

.seccion-escolares ul p{
    margin: 0px 100px 0px 100px;
    padding: 30px 0px 30px 0px;
    font-size: 20px;
    font-style: normal;
}

.footer-escolares h2{
    font-size: 25px;
}
.footer-escolares li{
    font-size: 20px;
}
}

@media screen and (max-width: 1006px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 1980px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}

.seccion-escolares ul li{
    margin: 0px 100px 0px 100px;
    padding: 10px 50px 0px 50px; 
    font-size: 25px;
    font-style: normal;
}

.seccion-escolares ul p{
    margin: 0px 100px 0px 100px;
    padding: 30px 0px 30px 0px;
    font-size: 22px;
    font-style: normal;
}

.footer-escolares h2{
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}
.footer-escolares li{
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
}


@media screen and (max-width: 995px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 2040px 700px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}

.seccion-escolares ul li{
    margin: 0px 100px 0px 100px;
    padding: 10px 200px 0px 50px; 
    font-size: 25px;
    font-style: normal;
}

.seccion-escolares ul p{
    margin: 0px 100px 0px 100px;
    padding: 30px 0px 30px 0px;
    font-size: 22px;
    font-style: normal;
}

.footer-escolares h2{
    font-size: 21px;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 10px 0px;
}
.footer-escolares li{
    font-size: 17px;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 10px 0px;
}
}

@media screen and (max-width: 988px) {
    header{ 
    height: 200px;
}
    header h1{
    color: white;
    font-style:normal;
    font-size: 50px;
    font-weight: 400;
    text-align: start;
}
header nav ul a{
    border-left-style: solid;
    padding: 0px 10px 0px 10px;
    color: white;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}
header img{
    margin: 100px 20px 0px 20px;
    width: 220px;
    height: 210px;
}
}

@media screen and (max-width: 958px) {
    .grid-exhibiciones{
    background-color:rgba(245, 245, 220, 0.534);
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px 400px 400px;
    gap: 50px;
}
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 1790px 800px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}

.seccion-escolares ul li{
    margin: 10px 80px 10px 80px;
    padding: 10px 50px 10px 50px; 
    font-size: 25px;
    font-style: normal;
}

.seccion-escolares ul p{
    margin: 10px 80px 10px 80px;
    padding: 0px;
    font-size: 22px;
    font-style: normal;
    border: 1px solid black;
}

.footer-escolares{
    display: flex;
    flex-wrap: nowrap;
}

}

@media screen and (max-width: 939px) {
.seccion-escolares ul li{
    margin: 10px 70px 10px 70px;
    padding: 10px 50px 10px 50px; 
    font-size: 25px;
    font-style: normal;
}

.seccion-escolares ul p{
    margin: 10px 70px 10px 70px;
    padding: 0px;
    font-size: 22px;
    font-style: normal;
    border: 1px solid black;
}
}

@media screen and (max-width: 919px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 1575px 800px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
.seccion-escolares ul li{
    margin: 0px;
    padding: 0px; 
    font-size: 25px;
    font-style: normal;
}

.seccion-escolares ul p{
    margin: 10px 70px 10px 70px;
    padding: 0px;
    font-size: 22px;
    font-style: normal;
    border: 1px solid black;
}
}

@media screen and (max-width: 897px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 1365px 800px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
    .seccion-escolares ul li{
    margin: 0px;
    padding: 0px; 
    font-size: 22px;
    font-style: normal;
    text-align: center;
}

.seccion-escolares ul p{
    margin: 10px 60px 10px 60px;
    padding: 0px;
    font-size: 20px;
    font-style: normal;
    border: 1px solid black;
    text-align: center;
}
}

@media screen and (max-width: 885px){
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 1280px 800px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
    .seccion-escolares ul li{
    margin: 0px;
    padding: 0px; 
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

.seccion-escolares ul p{
    margin: 10px 60px 10px 60px;
    padding: 0px;
    font-size: 18px;
    font-style: normal;
    border: 1px solid black;
    text-align: center;
}
.footer-escolares h2{
    font-size: 20px;
}
}


@media screen and (max-width: 841px) {
    .contenedor-escolares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 1280px 1100px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}
    .footer-escolares{
    align-items: center;
}

    header{ 
    height: 300px;
    background-color: rgba(128, 24, 18, 0.823);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
    header h1{
    display: none;
}
header img{
    margin: 10px 10px 0px 10px;
    width: 220px;
    height: 210px;
}
footer{
    flex-direction: column;
}
    footer div h2{
    font-size: 20px;
}
    footer div li{
    font-size: 20px;
}

    .seccion-museo h2{
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

    .seccion-museo p{
    margin: 0px 70px 0px 70px;
    padding: 10px 200px 0px 50px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-style: normal;
}
}

@media screen and (max-width: 510px) {
    .seccion-museo h2{
    padding: 20px;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.seccion-museo p{
    margin: 0px 20px 0px 20px;
    padding: 10px 50px 0px 50px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-style: normal;
}
}

@media screen and (max-width: 841px){
    .grid-exhibiciones{
    background-color:rgba(245, 245, 220, 0.534);
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 450px 450px 450px;
    gap: 50px;
}
}